html,body{
	font-family:Roboto;
	margin:0 auto;
}
header{
	margin:auto;
	width:80%;
	background:#dedede;
	padding:20px;
}
div{
	margin:auto;
	width:80%;
	background:#efefef;
	padding:20px;
}
div img{
	width:40%;
}

footer{
	margin:auto;
	width:80%;
	background:#dedede;
	padding:20px;

}